<h4>Plan Your Trip | אודות</h4><hr>
<div>
    <p>
        אתר Plan Your Trip מרכז בתוכו מגוון אטרקציות, מסלולי טיול ואתרי תיירות
        במטרה לאפשר למטיילים ומדריכי טיולים לתכנן את הטיול הכי מהנה בארץ.
        האתר מקשר בין המטיילים לצוות מדריכי טיולים מקצועי-
        לאחר סיום תכנון הטיול שלכם, תוכלו לבחור מדריך טיולים מתוך רשימת מדריכי הטיולים שלנו
        ולצרף אותו לטיול.
        <br>
        והכל מתבצע בקלות, ללא מאמץ, וללא צורך להבין בתחום,
        כדי שההנאה שלכם מהטיול תתחיל כבר ברגע התכנון.
        <br>
        מתקשים לתכנן את הטיול בעצמכם?
        כאן תוכלו להצטרף לטיולים מתוכננים המאורגנים במיוחד עבורכם ע"י מדריכי הטיול המקצועיים של
        Plan Tour Trip.
        <br>
        בהנאה!!!
    </p>
</div>