mat-icon,h6{
    display:inline-block;
}
h4,div{
    text-align: center;
}

p{
    width: 44vw;
    font-size: 3vh;
    margin-right: 28vw;
    text-align: right;
}
#year{
    margin-right: 0.5vw;  
}
