<img id="symbols" src="../../../assets/images/footer.png">
<footer>
    <a routerLink="/planYourTrip/about" routerLinkActive="active">אודות</a>
    <a routerLink="/planYourTrip/tripPlanning" routerLinkActive="active">התחל בתכנון טיול</a>
    <a routerLink="/planYourTrip/tripsForJoining" routerLinkActive="active">הצטרף לטיול מאורגן</a>
    <a id="sitePolicy" routerLink="/planYourTrip/sitePolicy" routerLinkActive="active">תנאי השימוש באתר</a>

    <a href="http://www.ims.gov.il/ims/all_tahazit" target="_blank">השירות המטאורולוגי של ישראל</a>
    <div>
        <label>PlanYourTripSite@gmail.com</label><br>
        <label>0548441096 | 0504158283</label>
    </div> 
    
    <label class="copyright"><mat-icon>copyright</mat-icon> כל הזכויות שמורות -</label>
    <label class="copyright">אתר Plan Your Trip</label>
    <label class="copyright">2019</label>
</footer>