<span id="top"></span>
<button mat-raised-button (click)="print()">
  הדפס
</button>
<h4>תקנון האתר</h4>
<div>
  <h6>כללי</h6>
  <p>
    השימוש במידע המופיע באתר כפוף לתנאי השימוש המפורטים להלן - אנא קרא תנאים אלה בעיון ובקפידה, שכן תחילת השימוש באתר
    מעידה על הסכמתך ואישורך לאמור בתנאים אלה במלואם.
    למען הסר ספק, עצם הכניסה לאתר ולדפי המידע הכלולים בו, מהווה הסכמת המשתמש לכל האמור בתנאי השימוש אף אם המשתמש כלל לא
    קרא ו/או לא עיין בתנאי השימוש. תנאי השימוש המקיפים מצויים באתר למען המשתמשים והם מתייחסים לכל האתר, דפיו השונים
    והמידע המצוי בו.
    תנאי השימוש באתר מיועדים לנשים וגברים כאחד, והם נוסחו בלשון זכר מטעמי נוחות בלבד

  </p>
  <h6>תנאי השימוש</h6>
  <p>
    1.לכל שאלה ו/או הבהרה ו/או בירור ניתן לפנות ישירות למייל לPlanYourTripSite@gmail.com
  </p>
  <p>
    2.בעלי האתר אינם אחראים בשום מקרה ואופן לשימוש שנעשה במידע המצוי באתר, לטיולים מאורגנים למקומות המפורטים באתר. בעלי
    האתר
    גם אינם אחראים בשום מקרה ואופן לשימוש שיעשה המשתמש ו/או צד ג' כלשהו במסלולי טיול המוצעים באתר ו/או למטיילים ו/או
    לביצוע הטיול בפועל.
  </p>
  <p>
    3. כל המבצע הזמנה לטיול מאורגן דרך האתר מצהיר, כי עם ביצוע הפעולה הוא קרא את התקנון, והוא מסכים לכל הוראותיו ותנאיו
    של תקנון זה, וכי לא תהיה לאי מי כל טענה ו/או תביעה כנגד האתר ו/או הנהלת האתר בכל הקשור להוראות והתנאים של תקנון זה.
  </p>
  <p>
    4.בעלי האתר אינם אחראים לכל נזק, עקיף או ישיר שייגרם למשתמש כתוצאה משימוש או הסתמכות על מידע ותכנים המתפרסמים באתרים
    כאמור ו/או בגין שימוש או הסתמכות על מידע ותכנים המתפרסמים באתר
  </p>
  <p>
    5.למען הסר ספק, הקישורים מובאים לנוחיות המשתמש בלבד ואין בעלי האתר אחראים לתוכנם של אתרים אלה, מהימנותם או תקינותם.
    הכניסה לאתרים כאמור והשימוש בתכנים המופיעים בהם הינם באחריות המשתמש בלבד. המצאות קישור לאתר מסוים אינה מהווה אישור
    לכך שהמידע באתר זה אמין, מהימן, מלא או מעודכן.
  </p>
  <p>
    6.האתר שומר לעצמו את הזכות לשנות את התקנון מפעם לפעם על פי שיקול דעתו הבלעדי וזאת ללא צורך במתן התראה ו/או הודעה
    מוקדמת.
  </p>
  <h6>מידע על מסלולי טיולים</h6>
  <p>
    באתר מופיעות המלצות ותיאורים של מסלולי טיול. אין להסתמך רק על המידע באתר לצורך עריכת טיולים, וחובה על המשתמש ליידע
    את עצמו היטב ולהצטייד במפה עדכנית או מדריך מוסמך לפני היציאה למסלול. ככלל, אין לראות במידע שמופיע באתר בנושא טיולים
    מעבר להצעה כללית לטיול בלבד
  </p>
  <p>
    מומלץ לכל המטיילים לבדוק עם הרשויות המוסמכות את המצב הביטחוני השורר באזור הטיול המתוכנן וכן את תחזית מזג האוויר לפני
    יציאתם לטיול, ובכלל זה גם לבדוק התראות לשיטפונות ו/או סופות
  </p>

  <h6>תכנון טיול ע"י משתמשים</h6>
  <p>האתר או בעליו אינם נושאים באחריות כלשהיא לטיולים שמארגנים המטיילים, בין אם הם משתמשים רגילים ובין אם הם מדריכים,
    בכלל זה להתאמת הטיולים לנרשמים אליהם, בטיחותם, איכות המדריכים וכל פרט הקשור בטיולים אלו.
    מומלץ לכל המטיילים היוצאים לטיולים אלו לבדוק שהמסלול מתאים ליכולתם הן מבחינת הקושי והן מבחינה בטיחותית.
    המטייל מצהיר בזאת שהיציאה לטיול שלו ושל בני משפחתו היא על אחריותו בלבד ולא תהיה לו כל טענה כלפי בעלי האתר במידה
    שבמהלך הטיול או בדרך לטיול או בחזרה מהטיול ייגרם לו או למי מבני משפחתו נזק או פגיעה כלשהיא
  </p>
  <h6>תכנון טיול ע"י מדריך</h6>
  <p>
    מדריך שמארגן טיול מתחייב לקחת את האחריות על על עצמו המלאה
    ואין כל קשר לאתר בו תכנן,
    יש לעדכן את המשתמשים על כל דבר החשוב לידע אותם
  </p>
  <p>
    בלחיצה על טיולים מאורגנים שלי-> ועדכון לטיול המאורגן בו הוא רוצה לעדכן,
    העדכון ישלח למשתמש במייל וכן יתעדכן אוטומט באתר
  </p>
  <p>
    ביטול טיול מאורגן יתבצע אך ורק אם אין נרשמים לטיול
    ובאחריות המדריך בלבד
  </p>
  <h6>זכויות יוצרים</h6>
  <p>
    אין להעתיק, לשכפל, להפיץ, למכור, לשווק ולתרגם מידע כלשהו מהאתר, תמונות וטקסטים וכיוצא בזאת, ואין לעשות שימוש מסחרי
    ופרטי בלא קבלת רשות היוצרים של האתר בכתב,
    יש להשתמש בשירותי האתר למטרות חוקיות בלבד.
  </p>
  <p>
    צור קשר
    PlanYourTripSite@gmail.com
  </p>
  <p>-----------------------------------------------------------------------------------------------------------------
  </p>
  <h4> PlanYourTrip מאחל תכנון וטיול מהנה</h4>

</div>
<mat-icon (click)="top()"> vertical_align_top</mat-icon>