<div id="forgetPassword">
  <h5>שחכת את הסיסמה שלך?</h5>
  <hr>
  <p>הכנס את כתובת המייל שלך הרשומה באתר</p>
  <form [formGroup]="forgetPassword" (ngSubmit)="reset()">
    <mat-form-field>
      <input matInput placeholder=" כתובת מייל" formControlName="email" required>
      <mat-error *ngIf="email.hasError('email')">יש להזין כתובת מייל חוקית</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <br>
    <button mat-raised-button [disabled]="forgetPassword.invalid" type="submit" name="submit">איפוס סיסמה</button>
  </form>
  <br>
  <span>--------------------------------------------------------</span>
  <br>
  <div *ngIf="isHidde">
    <p>ברגעים אלו נשלחת אליך סיסמה למייל כדי לאמת את חשבונך, בדוק את תיבת המייל שלך</p>
    <!-- <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
    </div> -->
    <form [formGroup]="forgetPassword2" (ngSubmit)="verifyPassword()">
      <mat-form-field>
        <input matInput formControlName="password" placeholder="הכנס סיסמה שנשלחה" [type]="hide ? 'password' : 'text'"
          required>
        <mat-error *ngIf="forgetPassword2.get('password').hasError('required')">שדה חובה</mat-error>
        <mat-error *ngIf="forgetPassword2.controls['password'].hasError('minlength')">מינימום 6 תווים </mat-error>
        <mat-error *ngIf="forgetPassword2.controls['password'].hasError('maxlength')">מקסימום 8 תווים</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" name="submit" [disabled]="forgetPassword2.invalid">אמת</button>
      <!-- <label>.מומלץ לשמור את הסיסמה, מהיום תוכל להכנס רק עם הסיסמה החדשה</label><br> -->
    </form>
  </div>
</div>

