h4 {
  margin-top: 1vh;
  text-align: center;
}
th {
  text-align: center;
}
tr {
  text-align: right;
}
.update {
  text-align: center;
}
mat-icon {
  margin-left: 1vw;
  cursor: pointer;
}
div {
  min-height: 50vh;
}
table,td,tr {
  z-index: -1;
}
#categoriesMenue {
  z-index: 2;
  border: solid;
  height: 5vh;
  width: 10vw;
  background-color: white;
  overflow-y: scroll;
}
