// div {
//   text-align: right;
//   display: inline-block;
//   padding: 2vh;
// }
// img {
//   width: 29vw;
//   height: 45vh;
//   margin-right: 10vw;
// }
// h4 {
//   margin-top: 1vh;
//   text-align: center;
// }
// p {
//   text-align: right;
//   color: red;
//   font-size: 13px;
//   margin-right: 3vw;
// }
// button {
//   border: solid 0.5px #0fbd25;
//   font-size: 3vh;
//   margin-right: 1vw;
// }
// mat-radio-button,
// mat-checkbox {
//   margin-right: 1vw;
// }
// textarea {
//   width: 60vw;
// }
// div {
//   width: 90vw;
//   text-align: right;
// }
div{
  text-align: right;
  display: inline-block;
  padding: 2vh;
}
img{
  width: 32vw;
  height: 47vh;
  margin-right: 11vw;
  margin-top: -3vh;
}
h4{
  margin-top: 1vh;
  text-align: center;
}
mat-radio-button,mat-checkbox{
  margin-right: 1vw;
}

textarea{
  width:60vw;
}
